@charset "UTF-8";
@font-face {
  font-family: "RTA-Regular";
  src: url("fonts/RTA-Regular.eot");
  src: url("fonts/RTA-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/RTA-Regular.ttf") format("truetype"), url("fonts/RTA-Regular.woff") format("truetype"), url("fonts/RTA-Regular.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RTA-Bold";
  src: url("fonts/RTA-Bold.eot");
  src: url("fonts/RTA-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/RTA-Bold.ttf") format("truetype"), url("fonts/RTA-Bold.woff") format("truetype"), url("fonts/RTA-Bold.woff2") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RTA-Light";
  src: url("fonts/RTA-Light.eot");
  src: url("fonts/RTA-Light.eot?#iefix") format("embedded-opentype"), url("fonts/RTA-Light.ttf") format("truetype"), url("fonts/RTA-Light.woff") format("truetype"), url("fonts/RTA-Light.woff2") format("truetype");
  font-weight: Light;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Glyphicons Halflings";
  src: url("./fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("./fonts/glyphicons-halflings-regular.woff") format("woff");
}
.glyphicon {
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "RTA-Regular", sans-serif;
}

.font-family-bold {
  font-family: "RTA-bold", sans-serif;
}

.font-family-light {
  font-family: "RTA-Light", sans-serif;
}

.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.br-8 {
  border-radius: 8px;
}

.text-teal {
  color: #A2A622;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.required-label .control-label::after,
.required-content::after {
  content: "•";
  color: #ee0000;
  font-size: 19px;
  position: relative;
  top: -3px;
  line-height: 1;
}

.form-group {
  margin-bottom: 26px;
}
.form-group .control-label {
  text-transform: capitalize;
  text-align: start;
}
.form-group input[type=checkbox] + .control-label {
  margin-left: initial;
  margin-inline-start: 8px;
}
.form-group.mx-radiobuttons.inline .mx-radiogroup .radio {
  margin-right: initial;
  margin-inline-end: 20px;
}
.form-group.mx-radiobuttons.inline .mx-radiogroup .radio input[type=radio] {
  margin-right: initial;
  margin-inline-end: 8px;
}
.form-group.mx-radiobuttons.inline .mx-radiogroup .radio label {
  margin-left: initial;
  padding-right: initial !important;
}
.form-group .form-control-static {
  border-bottom: 1px solid #d2d2d2;
  padding: 10px 0px;
}

/************************** floating label ***************************/
.floating-label.mx-textbox, .floating-label.mx-textarea {
  position: relative;
  /* IMPORTANT: add an empty white space to the text area placeholder so the class works */
}
.floating-label.mx-textbox input,
.floating-label.mx-textbox textarea, .floating-label.mx-textarea input,
.floating-label.mx-textarea textarea {
  min-height: 48px;
}
.floating-label.mx-textbox input:not([value=""]),
.floating-label.mx-textbox input:focus,
.floating-label.mx-textbox textarea:not([value=""]),
.floating-label.mx-textbox textarea:focus, .floating-label.mx-textarea input:not([value=""]),
.floating-label.mx-textarea input:focus,
.floating-label.mx-textarea textarea:not([value=""]),
.floating-label.mx-textarea textarea:focus {
  padding-top: 20px !important;
  padding-bottom: 5px !important;
  min-height: 48px;
}
.floating-label.mx-textbox .control-label, .floating-label.mx-textarea .control-label {
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 14px;
  transition: 0.2s ease all;
  margin-bottom: 0;
  width: calc(100% - 2px);
  padding-inline-start: 15px;
  left: 1px;
  right: 1px;
  border-radius: 4px;
  background: #fff;
}
.floating-label.mx-textbox:has(input:not([value=""])) .control-label, .floating-label.mx-textbox:has(input:focus) .control-label, .floating-label.mx-textbox:has(textarea:not(:placeholder-shown)) .control-label, .floating-label.mx-textbox:has(textarea:focus) .control-label, .floating-label.mx-textarea:has(input:not([value=""])) .control-label, .floating-label.mx-textarea:has(input:focus) .control-label, .floating-label.mx-textarea:has(textarea:not(:placeholder-shown)) .control-label, .floating-label.mx-textarea:has(textarea:focus) .control-label {
  top: 1px;
  padding: 2px 7px 0 7px;
  font-size: 12px;
}
.floating-label.mx-textbox textarea, .floating-label.mx-textarea textarea {
  /* Height */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.floating-label.mx-textbox textarea::-webkit-scrollbar, .floating-label.mx-textarea textarea::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.floating-label.mx-textbox textarea::-webkit-scrollbar-track, .floating-label.mx-textarea textarea::-webkit-scrollbar-track {
  background-color: #f3f3f3;
}
.floating-label.mx-textbox textarea::-webkit-scrollbar-thumb, .floating-label.mx-textarea textarea::-webkit-scrollbar-thumb {
  background: #c5c5c5;
  border-radius: 5px;
}
.floating-label.mx-textbox textarea::-webkit-scrollbar-thumb:hover, .floating-label.mx-textarea textarea::-webkit-scrollbar-thumb:hover {
  background: rgb(171.5, 171.5, 171.5);
}
.floating-label.mx-textbox.has-error .form-control, .floating-label.mx-textarea.has-error .form-control {
  border-color: #ee0000;
}
.floating-label.mx-textbox:has(.form-control[disabled]) .control-label, .floating-label.mx-textarea:has(.form-control[disabled]) .control-label {
  background-color: #f1f2f5;
}
.floating-label.mx-datepicker {
  position: relative;
}
.floating-label.mx-datepicker input.form-control {
  padding-top: 20px;
  padding-bottom: 5px;
  padding-inline-start: 8px;
  padding-inline-end: 40px;
  min-height: 48px;
}
.floating-label.mx-datepicker .control-label {
  position: absolute;
  top: 3px;
  bottom: 10px;
  left: 1px;
  right: 1px;
  font-size: 12px !important;
  width: calc(100% - 2px);
  padding-inline-start: 7px;
  background-color: transparent !important;
  height: fit-content;
  margin-bottom: 0;
}
.floating-label.mx-datepicker .btn-calendar,
.floating-label.mx-datepicker .mx-compound-control button,
.floating-label.mx-datepicker .mx-compound-control button:hover,
.floating-label.mx-datepicker .mx-compound-control button:focus {
  width: 40px;
  height: 48px;
  background-image: url("calendar.svg") !important;
  background-repeat: no-repeat !important;
  background: transparent;
  background-position: center;
  background-size: 20px;
  margin: 0 !important;
  border: none;
  position: absolute;
  right: 0px;
  top: 0;
}
.floating-label.mx-datepicker .btn-calendar .glyphicon-calendar,
.floating-label.mx-datepicker .btn-calendar .mx-icon-filled,
.floating-label.mx-datepicker .mx-compound-control button .glyphicon-calendar,
.floating-label.mx-datepicker .mx-compound-control button .mx-icon-filled,
.floating-label.mx-datepicker .mx-compound-control button:hover .glyphicon-calendar,
.floating-label.mx-datepicker .mx-compound-control button:hover .mx-icon-filled,
.floating-label.mx-datepicker .mx-compound-control button:focus .glyphicon-calendar,
.floating-label.mx-datepicker .mx-compound-control button:focus .mx-icon-filled {
  display: none;
}
.floating-label.mx-datepicker.has-error .form-control {
  border-color: #ee0000;
}
.floating-label.mx-dropdown {
  position: relative;
}
.floating-label.mx-dropdown .form-control {
  padding-top: 20px;
  padding-bottom: 5px;
  padding-inline-start: 8px;
  padding-inline-end: 40px;
  min-height: 48px;
}
.floating-label.mx-dropdown .control-label {
  position: absolute;
  top: 14px;
  left: 16px;
  height: fit-content;
  margin-bottom: 0;
  transition: 0.2s ease all;
}
.floating-label.mx-dropdown.dorpDown-with-value .control-label, .floating-label.mx-dropdown:has(.form-control:focus) .control-label {
  top: 3px;
  left: 8px;
  font-size: 12px;
}
.floating-label.mx-dropdown.has-error .form-control {
  border-color: #ee0000;
}
.floating-label.mx-radiobuttons.has-error .mx-radiogroup .radio label {
  color: #0a1325;
}
.floating-label.mx-radiobuttons.has-error .mx-radiogroup .radio input[type=radio]:before {
  border-color: #ee0000;
}
.floating-label .alert,
.floating-label .alert-danger {
  padding: 0;
  padding-inline-start: 8px;
  background-color: inherit !important;
  border: none;
  color: #ee0000 !important;
  font-size: 12px;
}

/********************* custom search input ***********************/
.custom-search-input, .custom-search-container .form-group, .custom-search-list .mx-listview-searchbar {
  position: relative;
}
.custom-search-input::before, .custom-search-container .form-group::before, .custom-search-list .mx-listview-searchbar::before {
  content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' height='16' viewBox='0 0 16 16' width='16'><path d='M10.592 9.872L16 15.28L15.28 16L9.872 10.576C9.34933 11.0347 8.752 11.3867 8.08 11.632C7.41867 11.8773 6.72533 12 6 12C4.912 12 3.904 11.728 2.976 11.184C2.06933 10.6507 1.34933 9.93067 0.816 9.024C0.272 8.096 0 7.088 0 6C0 4.912 0.272 3.904 0.816 2.976C1.34933 2.06933 2.06933 1.34933 2.976 0.816C3.904 0.272 4.912 0 6 0C7.088 0 8.096 0.272 9.024 0.816C9.93067 1.34933 10.6507 2.06933 11.184 2.976C11.728 3.904 12 4.912 12 6C12 6.72533 11.8773 7.41867 11.632 8.08C11.3867 8.74133 11.04 9.33867 10.592 9.872ZM6.016 11.008C6.92267 11.008 7.76 10.7787 8.528 10.32C9.28533 9.88267 9.88267 9.28533 10.32 8.528C10.7787 7.76 11.008 6.92267 11.008 6.016C11.008 5.10933 10.7787 4.26667 10.32 3.488C9.88267 2.73067 9.28533 2.13333 8.528 1.696C7.76 1.23733 6.92267 1.008 6.016 1.008C5.10933 1.008 4.26667 1.23733 3.488 1.696C2.73067 2.13333 2.13333 2.73067 1.696 3.488C1.23733 4.26667 1.008 5.10933 1.008 6.016C1.008 6.92267 1.23733 7.76 1.696 8.528C2.13333 9.28533 2.73067 9.88267 3.488 10.32C4.26667 10.7787 5.10933 11.008 6.016 11.008Z'/></svg>");
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
}
.custom-search-input .form-control, .custom-search-container .form-group .form-control, .custom-search-list .mx-listview-searchbar .form-control {
  min-height: 48px;
  padding: 8px 40px;
  z-index: 6;
  background: transparent;
  max-width: 100%;
}

.custom-search-list .mx-listview-searchbar {
  background-color: #fff;
  border-radius: 4px;
  max-width: 360px;
}
.custom-search-list .mx-listview-searchbar > .mx-button {
  position: absolute;
  right: 0;
  z-index: 10;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 15px;
  height: 22px;
  width: 22px;
  font-size: 9px;
  color: #818080;
  border: none;
  background-color: #f0f0f0;
  padding: 0;
}
.custom-search-list .mx-listview-searchbar > .mx-button span {
  line-height: unset;
}
.custom-search-list .mx-listview-searchbar > .mx-button span::before {
  font-weight: bold;
}
.custom-search-list .mx-listview-searchbar > .mx-button:has(.mx-icon-refresh) {
  display: none;
}

.custom-search-container {
  display: flex;
  box-shadow: 0 4px 26px 0 rgba(164, 164, 164, 0.3);
  background-color: #fff;
  border-radius: 4px;
}
.custom-search-container .form-group {
  width: 100%;
  margin-bottom: 0;
}
.custom-search-container .form-group .form-control {
  border: none;
}
.custom-search-container .mx-button {
  border-radius: 0;
  border-start-end-radius: 4px;
  border-end-end-radius: 4px;
  min-width: 80px;
}
.custom-search-container:has(.form-control[disabled]) {
  background-color: #f1f2f5;
  border: 1px solid #d2d2d2;
}

/********************* floating label file manager ***********************/
.background-light-purple {
  background-color: #dadceb;
}

.background-white {
  background-color: #fff;
}

.container-with-shadow, .card-2, .card-1 {
  box-shadow: 0 4px 26px 0 rgba(164, 164, 164, 0.3);
}

.card-hover, .card-2, .card-1 {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.card-hover:hover, .card-2:hover, .card-1:hover {
  transform: scale(1.01);
}

.card-1 {
  border-radius: 4px;
  padding: 12px;
  background-color: #fff;
}
.card-1 .card-1-title {
  margin-bottom: 0;
  color: #171c8f;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-1 .card-1-description {
  color: #53565a;
  font-size: 12px;
  line-height: normal;
  height: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-1 .card-1-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.card-1 .card-1-footer img {
  height: 35px;
}

.card-2 {
  border-radius: 4px;
  padding: 12px 15px;
  background-color: #fff;
}
.card-2 .card-2-img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 4px;
}
.card-2 .card-2-body {
  height: 66px;
  margin-bottom: 30px;
}
.card-2 .card-2-body .card-2-title {
  color: #171c8f;
  line-height: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-2 .card-2-body .card-2-description {
  color: #53565a;
  font-size: 12px;
  line-height: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-background-img {
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.card-background-img .background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}
.card-background-img .card-img-footer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 64%, rgba(0, 0, 0, 0.8352591036) 91%);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 5px;
}
.card-background-img:hover .background-img {
  transform: scale(1.2);
}

.modal-dialog .modal-content .modal-header h4 {
  margin: 0;
  color: #53565a;
  font-size: 16px;
  font-weight: bold;
}

.modal-dialog .modal-content .modal-body {
  padding: 20px;
}

.modal-dialog .modal-content .modal-header .close {
  margin-top: -3px;
  opacity: 1;
  color: #53565a;
  text-shadow: none;
}

.mx-datagrid table tbody tr td,
.mx-datagrid table th {
  padding: 12px 5px;
  color: #53565a;
}

.mx-grid .mx-grid-controlbar .mx-grid-pagingbar .mx-button {
  color: #888;
  padding: 2px;
}
.mx-grid .mx-grid-controlbar .mx-grid-pagingbar .mx-button span::before {
  font-size: 18px;
}

.mx-dataview .mx-dataview-controls {
  border-top: 0px;
}

.card {
  padding: 32px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
}

.btn {
  line-height: normal;
}

.container {
  margin-top: 30px;
}

.rta-default-layout .mx-scrollcontainer-top.region-topbar {
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  height: 60px;
  padding: 0;
}
.rta-default-layout .mx-scrollcontainer-top.region-topbar .mx-scrollcontainer-wrapper {
  height: 100%;
}
.rta-default-layout .mx-scrollcontainer-top.region-topbar .navbar-brand {
  height: 100%;
  margin-right: 0;
}
.rta-default-layout .mx-scrollcontainer-top.region-topbar .navbar-brand .wrapper-row {
  height: 100%;
  padding: 8px 24px;
  flex-wrap: nowrap;
}
.rta-default-layout .mx-scrollcontainer-top.region-topbar .navbar-brand .wrapper-row img {
  margin-right: 0;
}
.rta-default-layout .mx-scrollcontainer-top.region-topbar .navbar-brand .wrapper-row a {
  color: #171c8f;
  margin-left: 0;
  margin-right: 0;
  font-size: 15px;
  height: fit-content;
  line-height: initial;
}
.rta-default-layout .mx-scrollcontainer-top.region-topbar .navbar-brand .wrapper-row a img {
  height: 25px;
}
.rta-default-layout .mx-scrollcontainer-top.region-topbar .navbar-brand .wrapper-row .automation-logo {
  width: fit-content;
}
.rta-default-layout .mx-scrollcontainer-top.region-topbar .navbar-brand .wrapper-row .automation-logo img {
  height: 40px;
}
.rta-default-layout .mx-scrollcontainer-top.region-topbar .navbar-brand .wrapper-row .profile-dropdown {
  display: flex;
  align-items: center;
  gap: 8px;
}
.rta-default-layout .mx-scrollcontainer-top.region-topbar .navbar-brand .wrapper-row .profile-dropdown a {
  color: #464646;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rta-default-layout .mx-scrollcontainer-top.region-topbar .navbar-brand .wrapper-row .btn-hamburger {
  line-height: normal;
}
.rta-default-layout .mx-scrollcontainer-left.region-sidebar .mx-scrollcontainer-wrapper {
  padding-top: 0;
  width: 100% !important;
}
.rta-default-layout .mx-scrollcontainer-left.region-sidebar .mx-scrollcontainer-wrapper .toggle-btn {
  margin: 0;
  padding: 18px;
  height: 60px;
  width: 100%;
  background-color: #101363;
  text-align: unset;
}
.rta-default-layout .mx-scrollcontainer-left.region-sidebar .mx-scrollcontainer-wrapper .toggle-btn img {
  height: 20px;
}
.rta-default-layout .mx-scrollcontainer-left.region-sidebar .mx-scrollcontainer-wrapper .navbar-inner > ul > li > a {
  padding: 0;
  height: 54px;
  line-height: normal;
}
.rta-default-layout .mx-scrollcontainer-left.region-sidebar .mx-scrollcontainer-wrapper .navbar-inner > ul > li > a img {
  width: 24px;
  margin-right: 0;
}
.rta-default-layout .mx-scrollcontainer-left.region-sidebar .mx-scrollcontainer-wrapper .navbar-inner > ul > li > a .glyphicon,
.rta-default-layout .mx-scrollcontainer-left.region-sidebar .mx-scrollcontainer-wrapper .navbar-inner > ul > li > a .mx-icon-lined {
  font-size: 24px;
}

.mx-tabcontainer.tab-container-primary .mx-tabcontainer-tabs {
  border-bottom: none;
}
.mx-tabcontainer.tab-container-primary .mx-tabcontainer-tabs > li a,
.mx-tabcontainer.tab-container-primary .mx-tabcontainer-tabs > li a:hover a.focus {
  border: none !important;
  border-bottom: 3px solid transparent !important;
  background-color: transparent !important;
}
.mx-tabcontainer.tab-container-primary .mx-tabcontainer-tabs > li a:is(:hover),
.mx-tabcontainer.tab-container-primary .mx-tabcontainer-tabs > li a:hover a.focus:is(:hover) {
  color: #171c8f !important;
}
.mx-tabcontainer.tab-container-primary .mx-tabcontainer-tabs > li.active > a {
  border-bottom: 3px solid #171c8f !important;
  color: #171c8f !important;
}
.mx-tabcontainer.tab-container-success .mx-tabcontainer-tabs {
  border-bottom: none;
}
.mx-tabcontainer.tab-container-success .mx-tabcontainer-tabs > li a,
.mx-tabcontainer.tab-container-success .mx-tabcontainer-tabs > li a:hover a.focus {
  border-bottom-width: 4px;
  border-color: transparent;
}
.mx-tabcontainer.tab-container-success .mx-tabcontainer-tabs > li.active > a {
  background-color: #fff;
  border-color: #fff;
  border-bottom: 4px solid #009925;
  color: #009925;
}

.multi-carousel__container .alice-carousel__dots-item:not(.__custom).__active {
  width: 12px;
  height: 12px;
  background-color: #171c8f;
}
.multi-carousel__container.normal-carousel__styled-btn .alice-carousel__next-btn-item span::after,
.multi-carousel__container.normal-carousel__styled-btn .alice-carousel__prev-btn-item span::after {
  color: #171c8f;
}

.mx-listview.list-with-space > ul > li {
  border: none;
  box-shadow: 0 4px 26px 0 rgba(164, 164, 164, 0.3);
  margin-bottom: 5px;
  border-radius: 4px;
}
.mx-listview.remove-border > ul > li {
  border: none;
}
.mx-listview.remove-padding-bottom > ul > li {
  padding-bottom: 0;
}
.mx-listview.remove-padding-h > ul > li {
  padding-left: 0;
  padding-right: 0;
}

.timeline .timeline-header {
  display: inline-block;
  width: 110px;
  padding: 8px;
  text-align: center;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
}
.timeline.timeline-default .timeline-list {
  margin-inline-start: 55px;
  padding: 30px 0;
  border-inline-start: 1px solid #d2d2d2;
}
.timeline.timeline-default .timeline-list > ul {
  margin-bottom: 0;
}
.timeline.timeline-default .timeline-list > ul > li {
  position: relative;
  background-color: transparent;
}
.timeline.timeline-default .timeline-list > ul > li::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #171c8f;
}
.timeline.timeline-zigzag .timeline-list {
  margin-inline-start: 55px;
  padding: 30px 0;
  position: relative;
}
.timeline.timeline-zigzag .timeline-list::before, .timeline.timeline-zigzag .timeline-list::after {
  content: "";
  height: 30px;
  width: 1px;
  background-color: #d2d2d2;
  position: absolute;
}
.timeline.timeline-zigzag .timeline-list::before {
  top: 0;
}
.timeline.timeline-zigzag .timeline-list > ul {
  margin-bottom: 0;
}
.timeline.timeline-zigzag .timeline-list > ul > li {
  position: relative;
  background-color: transparent;
  padding: 20px;
}
.timeline.timeline-zigzag .timeline-list > ul > li:nth-child(even) {
  border-inline-end: 1px solid #d2d2d2;
}
.timeline.timeline-zigzag .timeline-list > ul > li:nth-child(even)::before {
  right: -10px;
}
.timeline.timeline-zigzag .timeline-list > ul > li:nth-child(odd) {
  border-inline-start: 1px solid #d2d2d2;
}
.timeline.timeline-zigzag .timeline-list > ul > li:nth-child(odd)::before {
  left: -10px;
}
.timeline.timeline-zigzag .timeline-list > ul > li:nth-child(odd):last-child {
  border-bottom: none;
}
.timeline.timeline-zigzag .timeline-list > ul > li:first-child {
  border-top: none;
}
.timeline.timeline-zigzag .timeline-list > ul > li::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #171c8f;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: initial;
  font-size: 12px;
  padding-top: 3px;
}
.timeline.timeline-zigzag .timeline-list > ul > li:nth-child(1)::before {
  content: "1";
}
.timeline.timeline-zigzag .timeline-list > ul > li:nth-child(2)::before {
  content: "2";
}
.timeline.timeline-zigzag .timeline-list > ul > li:nth-child(3)::before {
  content: "3";
}
.timeline.timeline-zigzag .timeline-list > ul > li:nth-child(4)::before {
  content: "4";
}
.timeline.timeline-zigzag .timeline-list > ul > li:nth-child(5)::before {
  content: "5";
}
.timeline.timeline-zigzag .timeline-list > ul > li:nth-child(6)::before {
  content: "6";
}
.timeline.timeline-zigzag .timeline-list > ul > li:nth-child(7)::before {
  content: "7";
}
.timeline.timeline-zigzag .timeline-list > ul > li:nth-child(8)::before {
  content: "8";
}
.timeline.timeline-zigzag .timeline-list > ul > li:nth-child(9)::before {
  content: "9";
}
.timeline.timeline-zigzag .timeline-list > ul > li:nth-child(10)::before {
  content: "10";
}
.timeline.timeline-zigzag .timeline-list > ul > li:nth-child(11)::before {
  content: "11";
}
.timeline.timeline-zigzag .timeline-list > ul > li:nth-child(12)::before {
  content: "12";
}
.timeline.timeline-zigzag .timeline-list > ul > li:nth-child(13)::before {
  content: "13";
}
.timeline.timeline-zigzag .timeline-list > ul > li:nth-child(14)::before {
  content: "14";
}
.timeline.timeline-zigzag .timeline-list > ul > li:nth-child(15)::before {
  content: "15";
}
.timeline.timeline-zigzag .timeline-list > ul > li:nth-child(16)::before {
  content: "16";
}
.timeline.timeline-zigzag .timeline-list > ul > li:nth-child(17)::before {
  content: "17";
}
.timeline.timeline-zigzag .timeline-list > ul > li:nth-child(18)::before {
  content: "18";
}
.timeline.timeline-zigzag .timeline-list > ul > li:nth-child(19)::before {
  content: "19";
}
.timeline.timeline-zigzag .timeline-list > ul > li:nth-child(20)::before {
  content: "20";
}

body[dir=rtl] .timeline.timeline-default .timeline-list > ul > li::before {
  right: -5px;
  left: initial;
}
body[dir=rtl] .timeline.timeline-zigzag .timeline-list > ul > li:nth-child(even)::before {
  right: initial;
  left: -10px;
}
body[dir=rtl] .timeline.timeline-zigzag .timeline-list > ul > li:nth-child(odd)::before {
  left: initial;
  right: -10px;
}
body[dir=rtl] .floating-label.mx-dropdown .control-label {
  left: initial;
  right: 16px;
}
body[dir=rtl] .floating-label.mx-dropdown.dorpDown-with-value .control-label, body[dir=rtl] .floating-label.mx-dropdown:has(.form-control:focus) .control-label {
  left: initial;
  right: 8px;
}
body[dir=rtl] .floating-label.mx-datepicker .btn-calendar,
body[dir=rtl] .floating-label.mx-datepicker .mx-compound-control button,
body[dir=rtl] .floating-label.mx-datepicker .mx-compound-control button:hover,
body[dir=rtl] .floating-label.mx-datepicker .mx-compound-control button:focus {
  right: initial;
  left: 0;
}

@media screen and (max-width: 767px) {
  .rta-default-layout .mx-scrollcontainer-top.region-topbar .navbar-brand .row .profile-dropdown a {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .layout-atlas-responsive-default .mx-scrollcontainer-shrink:not(.mx-scrollcontainer-open) > .region-sidebar {
    width: 60px !important;
  }
}

/*# sourceMappingURL=main.css.map */
